*{
    margin:0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width:60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:red;
    background-color: yellowgreen;
}
#reset{
    height: 35px;
    width:80px;
padding:1 rem;
font-size: 1.25rem;
background-color: #191913;
color:bisque;
border-radius:1rem;
border:none;

}
#new-btn{
    height: 55px;
    width:180px;
padding:1 rem;
font-size: 1.25rem;
background-color: #191913;
color:bisque;
border-radius:1rem;
border:none;
}
#msg{
    color:white;
    font-size:8vmin;
}
.msg-container{
    height: 40vmin;

}
.hide{
    display: none;
}